<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQBnLPkHMI_9tkxqdIs-Jvo1iB7QEq19A</string>
	<key>GCM_SENDER_ID</key>
	<string>272622951038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fooddeliveryapp</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapp-2c22d</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapp-2c22d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272622951038:ios:dea6b338e12fa71bbe562f</string>
</dict>
</plist>